<ion-content padding>
    <form #form="ngForm" (ngSubmit)="login(form)">
        <ion-grid>
            <ion-row justify-content-center>
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                    <div text-center>
                        <h3>Login</h3>
                    </div>
                    <div padding>
                        <ion-item>
                            <ion-input name="email" type="email" placeholder="your@email.com" ngModel required>
                            </ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input name="password" type="password" placeholder="Password" ngModel required>
                            </ion-input>
                        </ion-item>
                    </div>
                    <div padding>
                        <ion-button type="submit" icon-left size="medium" expand="full" shape="round"
                            [disabled]="!form.valid" tappable>
                            <ion-icon name="log-in"></ion-icon>
                            Sign-in
                        </ion-button>
                        <!-- <ion-button type="submit" [disabled]="form.invalid" expand="block">Login
                        </ion-button> -->
                        <p text-center>
                            <ion-text>
                                Or Sign-in with
                            </ion-text>
                        </p>
                        <!-- <ion-button (click)="loginWithFacebook()" expand="block">Login with
                            Facebook
                            <ion-icon slot="start" name="logo-facebook">
                            </ion-icon>
                        </ion-button> -->



                        <ion-button shape="round" expand="full" (click)="loginWithFacebook()">
                            <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
                        </ion-button>
                    </div>
                    <div text-center margin-top>
                        <span (click)="goToRegister()" tappable>
                            <ion-text>
                                New here? <strong>Sign Up</strong>
                            </ion-text>
                        </span>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>