input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-color: black !important;
}

ion-button {
    --background: #062f77;
}

.facebook-btn {
    background: #3b5998;
}