<ion-header translucent>
    <ion-toolbar>
        <ion-title>{{give.title}}</ion-title>
        <ion-icon slot="end" name="arrow-back" (click)="modalCtrl.dismiss()"></ion-icon>
        <!-- <ion-buttons slot="end">
            <ion-button >Close</ion-button>
        </ion-buttons> -->
    </ion-toolbar>
</ion-header>
<ion-content fullscreen padding scroll-y="false">
    {{give.description}}

    <ion-slides [pager]="true">

        <ion-slide>
            <ion-img [src]="'assets/test-img/test4.JPG'"></ion-img>
        </ion-slide>

        <ion-slide>
            <ion-img [src]="'assets/test-img/test2.JPG'"></ion-img>
        </ion-slide>

        <ion-slide>
            <ion-img [src]="'assets/test-img/test3.JPG'"></ion-img>
        </ion-slide>

    </ion-slides>
</ion-content>