<ion-header translucent>
    <ion-toolbar>
        <ion-title>{{give.title}}</ion-title>
        <ion-icon slot="end" name="arrow-back" (click)="modalCtrl.dismiss()"></ion-icon>
        <!-- <ion-buttons slot="end">
            <ion-button >Close</ion-button>
        </ion-buttons> -->
    </ion-toolbar>
</ion-header>
<ion-content fullscreen padding scroll-y="false">

    <ion-icon name="heart" *ngIf="!isWish; else elseWish"></ion-icon>
    <ng-template #elseWish>
        <ion-icon name="remove-circle"></ion-icon>
    </ng-template>
    <ion-icon name="text" *ngIf="isAvailable"></ion-icon>

    <ion-slides [pager]="true">

        <ion-slide>
            <ion-img [src]="'assets/test-img/test4.JPG'"></ion-img>
        </ion-slide>

        <ion-slide>
            <ion-img [src]="'assets/test-img/test2.JPG'"></ion-img>
        </ion-slide>

        <ion-slide>
            <ion-img [src]="'assets/test-img/test3.JPG'"></ion-img>
        </ion-slide>

    </ion-slides>

    <p>{{give.description}}</p>

</ion-content>