<!-- 
  - options à définir, report un utilisateurs pour propros ingénieur, en signalant la conversation
  - gérer la réception d'un socketjs donc d'un nouveau message, pastille pres de la ligne de l'user qui a envoyé un message et pastilles sur la tab chat. 
  - chat details toujours le même pb du scroll qui ne descend pas jusqu'a en bas
  - chat details modifier le footer créé un footer qui gère bien le fait qu'un message passe dessous. 
  
 -->

<ion-content>
  <ion-list lines="none">
    <ion-item *ngFor="let item of users; let i = index" (click)="openDetailModal(item)">
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <ion-icon name="contact"></ion-icon>
          </ion-col>

          <ion-col size="10">
            <ion-label>
              <h2>{{item.firstName}} {{item.lastName}}</h2>
            </ion-label>
          </ion-col>

          <!-- <ion-col>
           <ion-badge color="blue" *ngIf="item.newMessage && item.newMessage > 0">.</ion-badge> 
        </ion-col> -->
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-list>
</ion-content>