<ion-toolbar>
    <ion-grid>
        <ion-row>
            <ion-col size="2">
                <ion-icon name="arrow-back" (click)="modalCtrl.dismiss()"></ion-icon>
            </ion-col>
            <ion-col size="8">
                <ion-label>{{ user.username }}</ion-label>
            </ion-col>
            <ion-col size="2">
                <ion-icon name="more"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-toolbar>
<ion-content>
    <ion-grid>
        <ion-row *ngFor="let message of messages">
            <ion-col size="9" class="message"
                [ngClass]="message.sender === currentUser._id ? 'message-mine' : 'message-other'">
                <div class="time">{{ message.createdDate | date:'short' }}</div>
                <span>{{ message.text }}</span>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-row>
            <ion-col size="11">
                <ion-item no-lines>
                    <ion-input type="text" placeholder="Message" [(ngModel)]="text"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="1">
                <ion-icon name="send" (click)="sendMessage()" *ngIf="message.text != ''"></ion-icon>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>