:host {
    display: block;
    height: 100%;
    width: 100%;

    ion-content {
        margin-bottom: 60px;
        clear: both;
        min-height: 400px;
    }

    .user_name {
        color: #2a2a2a;
    }

    .message {
        padding: 10px !important;
        transition: all 250ms ease-in-out;
        border-radius: 10px !important;
        margin-top: 18px !important;
        margin-bottom: 4px !important;
    }

    .message-mine {
        margin-left: 25%;
        background: #29a3b0;
        color: #fff;

        .time {
            right: 0;
        }
    }

    .message-other {
        margin-right: 25%;
        background: #dcdcdc;
        color: #000;

        .time {
            left: 0;
        }
    }

    .time {
        color: #afafaf;
        position: absolute;
        top: -18px;
        font-size: small;
    }

    ion-icon {
        width: 100%;
        height: 100%;
    }

    .message-footer {
        background-color: --ion-color-dark;
        z-index: 1;
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }

}