<ion-content>
  <!-- <ion-fab top left>
    <button ion-fab mini>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab> -->

  <ion-list lines="none">
    <ion-item *ngFor="let item of toGives; let i = index" (click)="openDetailModal(item._id)">
      <ion-img [src]="'assets/test-img/test1.JPG'"></ion-img>
      <ion-label>{{item.title}}</ion-label>
      <ion-icon slot="end" color="medium" name="heart"></ion-icon>
      <ion-icon slot="end" color="medium" name="basket"></ion-icon>
    </ion-item>

  </ion-list>
</ion-content>