ion-card {
  width: 48%;
  margin: 1%;

  ion-card-content {
    padding: 0;

    ion-title {
      font-weight: bold;
      padding: 0px;
      width: 100%;
      overflow-wrap: break-word;
    }

    ion-icon {
      padding: 0;
    }
  }
}