ion-item {

  height: 20vh;
  margin-top: 4px;

  ion-img {
    width: 60%;
  }

  ion-grid {
    padding: 0;
    width: 40%;
    height: 100%;

    ion-col {
      padding: 0;

      ion-label {
        padding: 4px;
        margin: 0;

        h2 {
          font-size: 14px;
        }
      }

      ion-icon {
        font-size: 18px;
      }
    }
  }
}


ion-card {
  margin: 0;
}