:host {
    // TODO clean et essayer de récupérer les colors pour en faire des variables sass
    // changer probalement les couleurs

    display: block;
    height: 100%;
    width: 100%;

    ion-content {
        margin-bottom: 60px;
        clear: both;
        max-height: calc(100% - 60px);
    }

    .user_name {
        color: #2a2a2a;
    }

    .message {
        padding: 10px;
        transition: all 250ms ease-in-out;
        border-radius: 10px;
        margin-top: 18px;
        margin-bottom: 4px;
    }

    .message-mine {
        margin-left: 25%;
        background: #29a3b0;
        // background-color: var(--ion-color-secondary);
        color: #fff;

        .time {
            right: 0;
        }
    }

    .message-other {
        margin-right: 25%;
        background: #dcdcdc;
        // background: var(--ion-color-tertiary);
        color: #000;

        .time {
            left: 0;
        }
    }

    .time {
        color: #afafaf;
        position: absolute;
        top: -18px;
        font-size: small;
    }

    ion-icon {
        width: 100%;
        height: 100%;
    }

    .message-footer {
        background-color: --ion-color-dark;
        z-index: 1;
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
}