// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.


.custom-loader-class {
    --spinner-color: #F94701;
}

ion-icon {
    font-size: 20px;
}

ion-tab-button {
    ion-icon {
        font-size: 24px;
    }
}

ion-button {
    // TODO make a variable of this color
    // --background: #062f77;
}