<ion-content>

    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <!-- TODO : ajouter l'upload d'images -->
        <ion-grid>
            <ion-row>
                <!-- <ion-label for="title">Title</ion-label> -->
                <ion-input formControlName="title" class="form-control" placeholder="Title">
                </ion-input>
            </ion-row>
            <ion-row>
                <!-- <ion-label for="title">Description</ion-label> -->
                <ion-textarea formControlName="description" class="form-control" placeholder="Description">
                </ion-textarea>
            </ion-row>
            <ion-row>
                <!-- <ion-label for="title">Category</ion-label> -->
                <ion-select formControlName="category" class="form-control" placeholder="Category">
                    <ion-select-option>High-tech</ion-select-option>
                    <ion-select-option>Clothes</ion-select-option>
                    <ion-select-option>Lifestyle</ion-select-option>
                </ion-select>
                <!-- <div *ngIf="submitted && createForm.title.errors" class="invalid-feedback">
                                            <div *ngIf="createForm.title.errors.required">Title is required</div>
                                        </div> -->
            </ion-row>
            <h3 *ngIf="images.length == 0" text-center>Please Select Image!</h3>
            <ion-row>
                <ion-list>
                    <ion-item *ngFor="let img of images; index as pos" text-wrap>
                        <ion-thumbnail slot="start">
                            <ion-img [src]="img.path"></ion-img>
                        </ion-thumbnail>
                        <ion-label>
                            {{ img.name }}
                        </ion-label>
                        <ion-button slot="end" fill="clear" (click)="startUpload(img)">
                            <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
                        </ion-button>
                        <ion-button slot="end" fill="clear" (click)="deleteImage(img, pos)">
                            <ion-icon slot="icon-only" name="trash"></ion-icon>
                        </ion-button>
                    </ion-item>
                </ion-list>
            </ion-row>
            <!-- <div *ngIf="error" class="alert alert-danger">{{error}}</div> -->
        </ion-grid>
    </form>

</ion-content>

<ion-footer>
    <ion-button clear color="white">
        Save
    </ion-button>
</ion-footer>