ion-select {
    padding-left: 4px;
}


ion-card {
    width: 6rem;
    height: 6rem;

    img {
        width: 5rem;
        height: auto;
    }

    ion-icon {
        width: 100%;
        height: 100%;
    }
}